.menuform {
  margin-bottom: '5px';
  border-top: '1px solid #6c757d';
  border-bottom: '1px solid #6c757d';
  border-radius: '0.3rem';
  border-bottom-left-radius: '0px';
  border-bottom-right-radius: '0px';
}

.menuform .first{
  border-bottom-left-radius: '0px';
}

.menuform .right{
  border-bottom-right-radius: '0px';
}